body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width-max: 700px;
}

.avatar {
  margin: auto;
  width: 7em;
  height: 7em;
  overflow: hidden;
  border-radius: 100%;
  img {
    width: 7em;
    margin-top: -0.5em;
  }
}

.Social {
  margin-top: 1em;
  text-align: center;

  li {
    display: inline-block;
  }
}

%Social-icon {
  width: 2em;
  height: 2em;
  display: block;
}

.Social-github--dark {
  @extend %Social-icon;
  background: url(/icons/dark_github.svg);
}

.Social-twitter--dark {
  @extend %Social-icon;
  background: url(/icons/dark_twitter.svg);
}

.Social-youtube--dark {
  @extend %Social-icon;
  background: url(/icons/dark_youtube.svg);
}

.Social-twitch--dark {
  @extend %Social-icon;
  background: url(/icons/dark_twitch.svg);
}

.Social-stackoverflow--dark {
  @extend %Social-icon;
  background: url(/icons/dark_stackoverflow.svg);
}

.Social-reddit--dark {
  @extend %Social-icon;
  background: url(/icons/dark_reddit.svg);
}

.PostList-title {
  text-align: center;
}

.PostList-stat {
  display: inline-block;
  color: #8f8f8f;
}
