@import 'syntax';

$font-size: 17px;
$link-underline-color: #ff9600;

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

%Centered {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 700px;

  @media(max-width: 700px) {
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

html {
  height: 100%;
  font-size: $font-size;
  font-family: sans-serif;
  line-height: 1.5em;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  // Stolen from somewhere, don't judge
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
               'Segoe UI Emoji', 'Segoe UI Symbol';

  header {
    margin-top: 1em;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  color: #555;
}

footer {
  height: 7em;
  margin-top: 2em;
  background-color: #555555;
  color: #fff;
}

ul {
  padding: 0;
}

main {
  @extend %Centered;
  flex: 1;
}

kbd {
  background-color: #f0f3f3;
  padding: 0.1em 0.5em;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  box-shadow: 0 1px 0 #f0f3f3, 0 0 0 2px #fff inset;
  white-space: nowrap;
  text-shadow: 0 2px 0 #fff;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.avatar {
  margin: auto;
  width: 7em;
  height: 7em;
  overflow: hidden;
  border-radius: 100%;
  img {
    width: 7em;
    margin-top: -0.5em;
  }
}

.HeaderCompact {
  margin-top: 0;
  border-bottom: solid 1px #cfcfcf;
}

.HeaderCompact-content {
  @extend %Centered;

  height: 4em;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  nav {
    padding: 0 0.5em;

    a {
      margin-right: 0.5em;
      text-decoration: none;
      box-shadow: inset 0 -1px;
      color: inherit;
    }
  }

  .Social-header {
    margin-top: 0;
  }
}

.Social-header {
  margin-top: 0.2em;
  text-align: center;

  li {
    display: inline-block;
  }
}

.Social-footer {
  margin-top: 1em;
  text-align: right;

  li {
    display: inline-block;
  }
}

%Social-icon {
  width: 2em;
  height: 2em;
  display: block;
}

.Social-github--dark {
  @extend %Social-icon;
  background: url(/icons/dark_github.svg);
}

.Social-twitter--dark {
  @extend %Social-icon;
  background: url(/icons/dark_twitter.svg);
}

.Social-youtube--dark {
  @extend %Social-icon;
  background: url(/icons/dark_youtube.svg);
}

.Social-twitch--dark {
  @extend %Social-icon;
  background: url(/icons/dark_twitch.svg);
}

.Social-stackoverflow--dark {
  @extend %Social-icon;
  background: url(/icons/dark_stackoverflow.svg);
}

.Social-reddit--dark {
  @extend %Social-icon;
  background: url(/icons/dark_reddit.svg);
}

.Social-email--dark {
  @extend %Social-icon;
  background: url(/icons/dark_email.svg);
}

.Social-github--light {
  @extend %Social-icon;
  background: url(/icons/light_github.svg);
}

.Social-twitter--light {
  @extend %Social-icon;
  background: url(/icons/light_twitter.svg);
}

.Social-youtube--light {
  @extend %Social-icon;
  background: url(/icons/light_youtube.svg);
}

.Social-twitch--light {
  @extend %Social-icon;
  background: url(/icons/light_twitch.svg);
}

.Social-stackoverflow--light {
  @extend %Social-icon;
  background: url(/icons/light_stackoverflow.svg);
}

.Social-reddit--light {
  @extend %Social-icon;
  background: url(/icons/light_reddit.svg);
}

.Social-email--light {
  @extend %Social-icon;
  background: url(/icons/light_email.svg);
}

%Icon {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
}

.Icon-calendar--light {
  @extend %Icon;
  background: url(/icons/light_calendar.svg);
}

.Icon-clocks--light {
  @extend %Icon;
  background: url(/icons/light_clocks.svg);
}

.Post {
  padding:0 0.5em;

  a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 $link-underline-color;
  }

  code {
    white-space: nowrap;
    background-color: #f0f3f3;
  }

  p {
    margin: 1.5em 0;
  }

  figure > img {
    margin-top: 1.5em;
    width: 100%;
  }
}

.highlight {
  margin: 1.5em 0;
  font-size: 0.9em;
  font-family: monospace;
  line-height: 1.4em;

  pre {
    padding: 0.2em 0.2em;
    overflow-x: auto;

    code {
      white-space: inherit;
    }
  }
}

.footnotes {
  margin-left: 1em;
}

.Post-title {
  margin-top: 1.1em;
  margin-bottom: 0.7em;

  h1 {
    margin-bottom: 0.2em;
    line-height: 1.1em;
  }

  a {
    color: inherit;
    text-decoration: none;
    box-shadow: initial;

    &:visited {
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.Post-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    margin-right: 0.7em;
    display: inline-block;
    color: #8f8f8f;

    span {
      font-size: $font-size - 1;
      vertical-align: top;
    }
  }
}

.Post-summary p {
  margin: 0;
}

.Post-readmore {
  margin-top: 0.8em;
  color: $link-underline-color;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Post .footnotes {
  border-top: 1px solid #cfcfcf;
}

.Post-comments {
  margin-top: 1.5em;
}

.Footer-content {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.Footer-attribution {
  text-align: right;

  a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -1px;
  }
}
