<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ .Site.Title }}</title>
    {{- $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="main">
      {{ partial "header.html" . -}}
      <div id="content">
        {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
