<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <title>{{ .Title }}</title>
    {{- $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    {{ if .IsHome }}
    {{ partial "home_header.html" . -}}
    {{ else }}
    {{ partial "compact_header.html" . -}}
    {{ end }}
    <main>
      <div id="content">
        {{- block "main" . }}{{- end }}
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
