<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <meta name="description" content="{{ .Description }}"/>
    {{ with .Keywords -}}
      <meta name="keywords" content="
        {{- range $i, $e := . }}{{ if $i}},{{ end }}{{ $e }}{{- end -}}"/>
    {{- end }}
    <meta name="author" content="{{ .Site.Author.name }}"/>
    {{ template "_internal/opengraph.html" . }}
    {{ if .IsHome }}
    {{- with .Site.Params.images -}}
      {{- range first 6 . -}}
        <meta property="og:image" content="{{ . | absURL}}">
      {{- end -}}
    {{- end -}}
    {{ end }}
    <title>{{ .Title }}</title>
    {{- $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    {{ if .IsHome }}
    {{ partial "home_header.html" . -}}
    {{ else }}
    {{ partial "compact_header.html" . -}}
    {{ end }}
    <main>
      <div id="content">
        {{- block "main" . }}{{- end }}
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
