{{ define "main" }}
<div>
  <div class="PostList">
    {{ range .Pages }}
    <div>
      <h1 class="PostList-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <ul>
        <li class="PostList-stat">{{ .Date.Format "January 2, 2006" }}</li>
        <li class="PostList-stat">{{ .WordCount }} words</li>
      </ul>
      <div class="PostList-summary">
        {{ .Summary }}
      </div>
      {{ if .Truncated }}
        <div class="PostList-readmore">
          <a href="{{ .Permalink }}">CONTINUE...</a>
        </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
