{{ define "main" }}
<div>
  <div>
    {{ range .Pages }}
    <article>
      <!-- this <div> includes the title summary -->
      <div>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div>{{ .Date.Format "January 2, 2006" }}</div>
        <div>{{ .WordCount }} words</div>
        {{ .Summary }}
      </div>
      {{ if .Truncated }}
        <div>
          <a href="{{ .Permalink }}">Read More…</a>
        </div>
      {{ end }}
    </article>
    {{ end }}
  </div>
</div>
{{ end }}
