<footer>
  <div class="Footer-content">
    <div class="Social-footer">
      <ul>
	{{- range .Site.Params.Social -}}
	  <li><a href="{{ .link }}" title="{{ .name }}"><span class="Social-{{ .name }}--light"></span></a></li>
	{{ end -}}
  {{ with .OutputFormats.Get "rss" -}}
    <li><a href="{{ .Permalink }}" title="RSS for this page"><span class="Social-rss--light"></span></a></li>
  {{ end -}}
      </ul>
    </div>
    <div class="Footer-attribution">
      Design by <a
        target="_blank"
        href="https://www.behance.net/ignateva"
      >
        Ksenia Ignateva
      </a>
    </div>
  </div>
</footer>
