<div clas="header">
  <div class="avatar">
    <img src="/photo.jpg" alt="Oh hello there!" />
  </div>
  <div class="menu"></div>
  <div class="social">
    VALENTIN IGNATEV
    <ul>
      <li><a href="{{ .Site.Params.Social.Twitter }}">TW</a></li>
      <li><a href="{{ .Site.Params.Social.GitHub }}">GH</a></li>
      <li><a href="{{ .Site.Params.Social.YouTube }}">YT</a></li>
      <li><a href="{{ .Site.Params.Social.StackOverflow }}">SO</a></li>
      <li><a href="{{ .Site.Params.Social.Reddit }}">RE</a></li>
      <li><a href="{{ .Site.Params.Social.Twitch }}">TW</a></li>
    </ul>
  </div>
</div>
